<div class="container">
  <mat-card class="transaction-card">
    <form class="transaction-form">
      <app-transaction-account></app-transaction-account>
      <app-transaction-add></app-transaction-add>
    </form>
  </mat-card>
  <div class="card">
    <div class="centered">
        <h3>Transferencias</h3>
    </div>
    <table class="highlight centered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Monto</th>
            <th>N° de Cuenta</th>
            <th>Tipo de Transaccion</th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let TranferenciaLista of TranferenciaLista" class="text-center">
          <td>{{TranferenciaLista.id}}</td>
        <td>
          <button class="btn yellow">Editar</button>
          <button class="btn red">Eliminar</button>
        </td>
         </tr>
      </tbody>
    </table>
  </div>
</div>